@import url('../assets/fonts/fonts.css');
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab";
  font-weight: 300;
}

code {
  font-family: "Roboto Mono";
}

.godwin{
  background-color: red !important;
}